# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual environment
venv/
ENV/
env/
env.bak/
venv.bak/

# IDE-specific files
.idea/
.vscode/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Log files
*.log

# Environment variables
.env
*.env

# Other files
*.DS_Store
*.egg-info/
dist/
build/
*.egg